.footer-container {
  background-color: black;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;

  .footer-sitename {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;

    h1 {
      color: white;
      font-size: 18px;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    p {
      color: white;
      font-size: 12px;
    }
  }

  .social-media {
    position: relative;
    height: auto;
    filter: brightness(0) invert(1);

    img {
      height: 25px;
      width: 55px;
      margin-left: -12px;
    }
  }
}
