.gallery-section {
  height: 80%;

  .gallery {
    justify-content: space-around;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 70px;
  }

  .gallery-title {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pictures {
    width: 236px;
    height: 304px;
    position: relative;
    height: auto;
    height: 60%;
    float: center;
  }

  .image01 {
    width: 236px;
    height: 304px;
    background-image: linear-gradient(to right, rgba(black, 0), rgba(black, 0)),
      url('../image/gallery01.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image02 {
    width: 236px;
    height: 304px;
    background-image: linear-gradient(to right, rgba(black, 0), rgba(black, 0)),
      url('../image/gallery02.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image03 {
    width: 236px;
    height: 304px;
    background-image: linear-gradient(to right, rgba(black, 0), rgba(black, 0)),
      url('../image/gallery03.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image04 {
    width: 236px;
    height: 304px;
    background-image: linear-gradient(to right, rgba(black, 0), rgba(black, 0)),
      url('../image/gallery04.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
