.upcomingsection {
  background-color: black;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .upcomingtitle {
    color: white;
    font-size: 40px;
    margin-right: 60px;
    margin-top: 20px;
  }

  .one {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.4),
        rgba(black, 0.4)
      ),
      url("../image/runwayone.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: red;
    border: 5px solid white;
  }
  .two {
    background-image: linear-gradient(
        to right,
        rgba(black, 0.4),
        rgba(black, 0.4)
      ),
      url("../image/runwaytwo.jpg");
    background-position: center;
    background-size: cover;
    border: 5px solid white;
  }

  .upcoming {
    height: 300px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;

    .upcomingtext {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h1,
    p {
      font-family: "Roboto", sans-serif;
      color: white;
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 30px;
    }

    /*br {
      display: flex;
      flex-direction: column;
    }*/
  }
}

.upcomingBox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color: pink;
}
